<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>官网</title>
</head>
<body>
    <h1>重庆工程学院</h1>
    <div>
        <span>时间:</span>
        <span>2023.3.24</span>
    </div>
    <div>
        为进一步拓宽学生思想教育工作渠道，深入了解学生及其家庭实际情况，切实推进精准资助工作，持续强化家校育人合力。重庆工程学院于2022年12月21日至2023年1月15日以云家访和线下家访相结合的方式开展了2023年新年走访慰问家庭经济困难学生活动，为83名困难学生送上慰问金。全校各级领导干部、教师、辅导员等166余人参与此次活动，将学校的关怀与温暖送到学生家中。
        <a href="http://www.cqie.edu.cn/" target="_blank">点击跳转</a>
        <img src="https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AA1916yK.img?w=640&h=399&m=6" style="height: 200px;width: 200px">
    </div>
<!--    #标题-->
<!--    <h2>二级标题<h2>-->
<!--    <h3>三级标题<h3>-->
<!--    <h4>四级标题<h4>-->
<!--    <div>篮球小子</div>-->
<!--    块级标签，一个人占一整行-->
<!--    <span>张滔</span>-->
<!--    行内标签，有多大占多大-->
<!--    <span>185</span>-->
    <h2>大数据</h2>
    <div>
    <span>
        时间:2023.3.24
    </span></div>
    <div>
        为深入贯彻习近平总书记关于深化思想政治理论课改革创新和“大思政课”的重要指示批示精神，10月28日下午，重庆红岩联线文化发展管理中心与重庆工程学院共建合作签约暨揭牌活动在重庆工程学院（南泉校区）举行。红岩联线管理中心党委书记、重庆红岩干部学院院长朱军，红岩联线管理中心党委委员、副主任黄振伟；重庆工程学院党委书记谭明术，党委副书记、常务副校长张业平，副校长王建东出席活动。活动由张业平主持。
        <a href="/get/news" target="_blank">查看更多</a>
        <img src="/static/lyx.png" style="height:300px;"/>
    </div>
    <h1>NBA</h1>
    <ul>
        <li>james</li>
        <li>curry</li>
        <li>durant</li>
    </ul>
    <h1>all-star</h1>
    <ol>
        <li>sga</li>
        <li>booker</li>
        <li>morant</li>
    </ol>
    <h1>你的名字</h1>
    <table border="2">
        <thead>
        <tr> <th>id</th> <th>name</th> <th>age</th> </tr>
        </thead>
        <tbody>
        <tr> <td>1</td> <td>www</td> <td>18</td> </tr>
        <tr> <td>2</td> <td>zzz</td> <td>19</td> </tr>
        <tr> <td>3</td> <td>ddd</td> <td>20</td> </tr>
        </tbody>


    </table>

    <h1>输入密码</h1>
    <div>
        <input type="text">
    </div>
    <div>
        <input type="password">
    </div>

    <input type="file">

    <input type="radio" name="z1">男
    <input type="radio" name="z1">女

    <input type="checkbox">唱
    <input type="checkbox">跳
    <input type="checkbox">rap
    <input type="checkbox">篮球

    <input type="button" value="真ikun">
    <input type="submit" value="假ikun">

    <h1>地点</h1>
    <select>
        <option>泰国</option>
        <option>新加坡</option>
        <option>印度</option>
    </select>
    <select multiple>
        <option>重庆</option>
        <option>泰国</option>
        <option>成都</option>
    </select>
    <h1>多行</h1>
    <textarea rows="4"></textarea>
</body>
</html>