<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>用户列表</h1>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>头像</th>
        <th>姓名</th>
        <th>邮箱</th>
        <th>信息</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>
          <img src="/static/lu.png" style="height:50px;">
        </td>
        <td>张滔</td>
        <td>123456@qq.com</td>
        <td>
          <a href="https://baike.baidu.com/item/%E7%8E%8B%E6%A5%9A%E7%84%B6/4101461" target="_blank">查看信息</a>
        </td>
        <td>编辑 删除</td>
      </tr>

    <tr>
        <td>1</td>
        <td>
          <img src="/static/lu.png" style="height:50px;">
        </td>
        <td>张滔</td>
        <td>123456@qq.com</td>
        <td>
          <a href="https://baike.baidu.com/item/%E7%8E%8B%E6%A5%9A%E7%84%B6/4101461" target="_blank">查看信息</a>
        </td>
        <td>编辑 删除</td>
      </tr>

    <tr>
        <td>1</td>
        <td>
          <img src="/static/lu.png" style="height:50px;">
        </td>
        <td>张滔</td>
        <td>123456@qq.com</td>
        <td>
          <a href="https://baike.baidu.com/item/%E7%8E%8B%E6%A5%9A%E7%84%B6/4101461" target="_blank">查看信息</a>
        </td>
        <td>编辑 删除</td>
      </tr>

    <tr>
        <td>1</td>
        <td>
          <img src="/static/lu.png" style="height:50px;">
        </td>
        <td>张滔</td>
        <td>123456@qq.com</td>
        <td>
          <a href="https://baike.baidu.com/item/%E7%8E%8B%E6%A5%9A%E7%84%B6/4101461" target="_blank">查看信息</a>
        </td>
        <td>编辑 删除</td>
      </tr>
    </tbody>
  </table>

</body>
</html>